.env
.idea
docker-compose.override.yml
/homepage/logs
/homepage/*.yaml
/homepage/*.css
/homepage/*.js
/sonarr
/radarr
/prowlarr
/lidarr
/bazarr
/qbittorrent
/pia
/pia-shared
/letsencrypt
/jellyfin
/jellyseerr
/adguardhome/certs
/adguardhome/conf
/adguardhome/work
/sabnzbd
/homeassistant

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfplan
terraform.tfvars

# Logs
*.log

# Ansible Secrets & Configs
ansible/group_vars/
ansible/inventory.yml

